body{
    background-color: rgb(245, 195, 220);
}
audio{
    background-color: rgb(233, 186, 209);
}
h1{
    background-color: lightpink;
}
h4{
    background-color: rgb(244, 194, 201)
}
ul{
    background-color: rgb(221, 142, 194);
}
aside{
    width: 30%;
    background-color: dimgray;
    float: left;
    border: 1px solid black;
    margin-left: 1px;

    padding: 1px;
}