@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    /* background-size: cover; */
    height: 70vh;
    width: 100%;
    position: relative;
}

.main .box {
    background-color: black;
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
}

.main .navbar {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60vw;
    margin: auto;
}

.navbar button,
.navbar img {
    position: relative;
    z-index: 10;
}

.navbar button {
    margin: 0 13px;
}

.hero {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    color: rgb(239, 232, 232);
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
    text-align: center;
}

.hero> :nth-child(1) {
    font-size: 33px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    align-items: center;
}

.hero> :nth-child(2) {
    font-size: 19px;
    align-items: center;
}

.hero> :nth-child(3) {
    font-size: 14px;
    align-items: center;
}

.seperation {
    background-color: rgb(46, 44, 44);
    height: 7px;
    position: relative;
    z-index: 20;
}

.englishtag {
    font-weight: 400;
    padding: 3px 20px 3px 20px;
    background-color: #8d8d8d00;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    /* border: 2px solid #ffffff14; */
    border: 1px solid rgba(255, 255, 255, 0.178);
    cursor: pointer;
}

.signtag {
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0.233);
}

.getstartedtag {
    padding: 3px 23px 3px 12px;
    /* padding: 10px 126px 10px 4px; */
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.233);
}

.red-btn {
    background-color: rgb(211, 0, 0);
    color: white;
}

.inputtag {
    /* padding: 3px 23px 3px 12px; */
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    background-color: #0502020f;
    color: white;
    border-radius: 4px;
    border: 2px solid #ffffff0f;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    color: white;
    margin: auto;
    align-items: center;
    text-align: center;
    position: relative;
}

@media screen and (max-width:1300px) {
    .first {
        flex-wrap: wrap;
    }
}

.secimg {
    position: relative;
}

.secimg img {
    position: relative;
    z-index: 10;
    width: 555px;
}

.secimg video {
    position: absolute;
    width: 555px;
    right: 0;
    top: 51px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
    font-family: "Poppins", sans-serif;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}


.second h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    margin: 23px;
}

.questions {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: auto;
    position: relative;
    /* justify-content: center;
    align-items: center; */

}

.questions span {
    width: 60vw;
    height: 77px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.181);
    border-radius: 4px;
    margin: 8px 0;
    padding: 0 12px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.6s;
    cursor: pointer;
}

.questions span:hover {
    background-color: #414141;
    transform: scale(1.03);
}

.aftques {
    color: white;
    display: flex;
}

.aftques {
    display: flex;
    justify-content: center;
    margin: 44px;
}

.aftquesin {
    margin-right: 23px;
}

.call {
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    width: 60vw;
    margin: auto;
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 12px;
    margin-top: 44px;
}

@media screen and (max-width:1300px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:600px) {
    .container {
        grid-template-columns: 1fr;
    }
}



.item {
    /* border: 2px solid rgb(185, 169, 169); */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.471);
}

.item-1 {
    grid-column: 1/-1;
}

.footeng {
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    color: white;
    /* display: flex;
    flex-direction: column; */
}

.netflixindia {
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.471);
    font-size: 14px;

}