* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: darkolivegreen;
    width: 100vw;
    height: 555px;
    border: 9px solid rgb(102, 46, 7);
    border-radius: 23px;
    position: relative;
}

.box {
    width: 66px;
    height: 66px;
    background-color: white;
    border-radius: 33px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: box 5s linear 1s infinite alternate;
}

@keyframes box {
    0% {
        transform: translate(0, 0);
        background-color: white;
        box-shadow: 0 10px 20px 0 rgb(255, 255, 255);
    }

    20% {
        transform: translate(150px, -222px);
    }

    40% {
        transform: translate(300px, 0);
    }

    60% {
        transform: translate(450px, -222px);
    }

    80% {
        transform: translate(600px, 0);
    }

    100% {
        transform: translate(750px, -222px);
    }

}