.container1,
.container2,
.container3,
.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

.box1,
.box2,
.box3,
.box4 {
    height: 44px;
    width: 44px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 22px;
    margin: 1em;
}