* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #403F69, #2C2B50);
    font-family: "Inter", sans-serif;

}

.container {
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    width: auto;
    height: auto;
    border-radius: 1.3rem;
    padding: 1rem 1rem 2rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.2);
}


.container h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: bolder;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);

}

.inputbox input {
    width: 100%;
    height: 3.5rem;
    padding: 1rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.8rem;
    outline: none;
    background: rgba(0, 0, 0, 0.8);
    color: #00ffea;
    text-align: right;
    box-shadow: inset 0 0 10px rgba(0, 255, 255, 0.3);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.6rem;

}

.box {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: 0.2s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.box:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: scale(1.08);
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-column: span 2; */

}

.box16 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.ope {
    background: linear-gradient(145deg, #ff9900, #ff7700);
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 150, 0, 0.6);
}

.ope:hover {
    background: linear-gradient(145deg, #ff9900b4, #ff7700a6);
    transform: scale(1.08);
}

.eql {
    background: linear-gradient(145deg, #2bc7ff, #009dff);
    color: white;
    box-shadow: 0 0 12px rgba(0, 174, 255, 0.7);
}

.eql:hover {
    background: linear-gradient(145deg, #2bc6ffca, #009dffc0);
    transform: scale(1.08);
}

.ac {
    background: linear-gradient(145deg, #ff4e4e, #ff2222);
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}

.ac:hover {
    background: linear-gradient(145deg, #ff4e4ec4, #ff2222c0);

}

.del {
    background: linear-gradient(145deg, #ff8c4c, #ff7128);
}

.del:hover {
    background: linear-gradient(145deg, #ff8b4cb7, #ff7028c0);

}