.card {
    display: flex;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 11px;
    margin: 12px;
    width: 900px;
    gap: 10px;
}

.thumbnail {
    position: relative;

}

.thumbnail img {
    border-radius: 6px;
    width: 200px;
}

.duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: black;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    padding: 2px 6px;
}